page-login {
   
    .bot{
        margin-left:180px;
    }
    ion-icon{
        font-size: 40px;
    }
    [noScroll]{
        overflow: hidden;
    }
    button{
        text-transform: none;
    }
    .toast{
        margin-left:180px;
    }
}
