page-home {
    .inner-menu{
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    .hello{
        font-size:  30px;
    }
    .toast{
        text-align: center;
        border-radius: 10px;
    }
    .avatar{
        border-radius: 10px;
    }
    p{
        color: orangered;
    }
    
}
