// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";

// $toolbar-ios-background: #fff;
// $toolbar-md-background: #fff;
// $toolbar-wp-background: #fff;
// $loading-ios-background:#fff;
// $background-color:#fff;
// $toolbar-ios-background: #24292e;
// $toolbar-md-background: #24292e;
// $toolbar-wp-background: #24292e;
// $background-color:#0d0d0d;
// $toolbar-ios-background: #0d0d0d;
// $toolbar-md-background: #0d0d0d;
// $toolbar-wp-background: #0d0d0d;
// $loading-ios-background:#0d0d0d;

// $text-color: #000;
// $badge-font-size:1.1em;
// $list-md-header-border-top:none;
// $list-ios-header-border-top:none;
// $list-wp-header-border-top:none;
// $list-md-border-color:#d3d3d3;
// $list-ios-border-color:#d3d3d3;
// $list-wp-border-color:#d3d3d3;
// $item-ios-body-text-font-size:1.3em;
// $item-md-body-text-font-size:1.3em;
// $item-wp-body-text-font-size:1.3em;
// $item-ios-divider-color:rgb(26, 25, 25);
// $item-md-divider-color:rgb(26, 25, 25);
// $item-wp-divider-color:rgb(26, 25, 25);
@import url(http://fonts.googleapis.com/css?family=Oxygen);
$font-family-ios-base:Oxygen,Josefin Sans;
$font-family-md-base:Oxygen,Josefin Sans;
$font-family-wp-base:Oxygen,Josefin Sans;
$button-md-border-radius:5px;
$button-ios-border-radius:5px;
$button-wp-border-radius:5px;
$button-md-text-transform:none;
$toast-md-title-color:rgb(209, 69, 29);
$toast-md-title-padding: 16px !default;
$text-input-ios-background-color:#222;
$text-input-md-background-color:#222;
$text-input-wp-background-color:#222;
// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  loot:   rgb(209, 69, 26),
  primary:    #0d0d0d,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222,
  background-dark: #0d0d0d,
  twitter:#55acee,
  hello:#428bca,
  hi:	#5c4a88,
  greyy: 	#f9f9f9,
  divider:#222,

);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here



// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
